<footer id="footer" class="mt-auto">
    <div class="container py-5 flex justify-center xl:justify-between items-center flex-wrap gap-6">
        <img src="img/logo.png" alt="" loading="lazy" class="size-[100px] xl:size-[130px]">
        <ul class="flex xl:text-xl gap-4 xl:gap-10 flex-wrap justify-center">
            <li><a href="#">Главная </a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#"> Галерея работ</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <div class="flex flex-col xl:flex-row justify-end xl:items-center gap-1 xl:gap-5 text-center">
            <a href="tel:79183249988" class="xl:text-xl leading-1 justify-self-end">+7 (918) 324 99 88</a>
            <div class="flex gap-2.5">
                <a href="#">
                    <svg class="icon-ins size-8 xl:size-12">
                        <use href="#icon-ins"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon-vk size-8 xl:size-12">
                        <use href="#icon-vk"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon-telegram size-8 xl:size-12">
                        <use href="#icon-telegram"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="icon-wa size-8 xl:size-12">
                        <use href="#icon-wa"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>
<script type="module" src="./js/common.js" defer></script>

